@font-face { font-family: droid-sans-bold; src: url(../font/DroidSans-Bold.woff); }
@font-face { font-family: coolvetica; src: url(../font/coolvetica.woff); }

* { font-family: 'coolvetica'; letter-spacing: 1px; }
h1, h2, h3, h4, h5, h6, em, #back a, span.gc-cs-link { font-family: 'droid-sans-bold'; letter-spacing: initial; }
p { line-height: 21px; }
em { font-style: initial; }
a:hover, a em:hover { font-style: italic; }
a:hover span { font-style: italic; }


#front { clear: both; }

#front .upper { display: table; }

#front .upper > div:nth-child(1) { display: table-cell; width: 20%; padding: 2%; text-align: center; vertical-align: middle; }
#front .upper > div:nth-child(1) img { width: 100%; max-width: 400px; display: block; margin: auto; }

#front .upper > div:nth-child(2) { display: table-cell; width: 80%; padding: 0 5%; vertical-align: middle; }

#front .upper h2 { margin-bottom: 0; }
#front .upper a, #front .upper a span.gc-cs-link { color: #666; font-size: 18px; text-decoration: none; }


#front .middle { position: relative; padding: 40px 0; background : #666; outline: solid 2px #000; }

#front .middle div { position: relative; display: inline-block; width: 28%; text-align: center; margin-left: 4%; }

#front .middle aside { display: inline-block; position: relative; margin-left: 40px; }
#front .middle aside h1 { display: inline; color: #fff; }
#front .middle aside img { position: absolute;  top: calc(50% - 32px); left: -80px; }



#front .sub-mid { padding: 25px 0; }
#front .sub-mid div { display: inline-block; float: left; width: 25%; text-align: center;  }
#front .sub-mid a { color: #000; text-decoration: none; }
#front .sub-mid a span { color: #666; }



#front .lower { margin-top: 10px; overflow: hidden; }
#front .lower img { float: left; width: 6%; padding: 10px 3%; margin: 25px -1px 25px 0; border-right: solid 1px #999; }
#front .lower img:nth-child(8n + 1) { margin-left: 2%; }
#front .lower img:nth-child(8n + 8) { border: none; }



#inside-left .upper {  width: 100%; margin-top: 30px; border-top: solid 2px #000; }

.timeline-sub { padding: 2% 0; position: relative; background: #404040; overflow-x: scroll}
.timeline-sub > section { height: 240px; margin-bottom: 30px; }
.timeline-sub > h2 { margin: 0 0 10px 2%; color: #fff; }
.timeline-sub > h2 span { color: #fff; font-family: Molengo; font-size: 12px; }
.timeline-sub > h4 { margin: 0 0 10px 3%; color: #fff; }

.time-top, .time-bottom { position: relative; height: 50% }
.time-top { border-bottom: solid 2px #222; }
.entry { display: inline-block;  position: absolute; height: 100%; width: 200px; }
.entry > div { width: 100%; }
.entry > div > div { cursor: pointer; z-index: 200; overflow: hidden; }
.entry > div > div.active { cursor: default; }
.entry > div > div > img { max-width: 100%; max-height: 100%; display: block; margin: auto; cursor: pointer;  }
.entry > div > div > p { overflow: hidden; width: 0; color: #fff; line-height: 22px; font-size: 14px; }
.entry > div > div.active > img { max-height: 45%; max-width: 95%; }
.entry > div > div.active > p { height: 54%; font-size: 12px; line-height: 16px; margin: 2% 0; overflow-y: scroll; }
.entry.circle > div > div.active > p { overflow-y: hidden; text-align: center; padding-top: 5%; font-size: 16px; }
.time-top .entry > div { position: absolute; bottom: 0px; border-right: solid 2px #222; }
.time-bottom .entry > div { position: absolute; top: 0px; border-right: solid 2px #222; }

div.active:before { content: 'Scroll text down'; position: absolute; top: 0; left: 0; width: 50px; margin: 3px; font-size: 8px; line-height: 10px; color: #fff; }
div.active:after{ content: 'Click image to close'; position: absolute; top: 0px; right: 0; width: 50px; margin: 3px; font-size: 8px; line-height: 10px; color: #fff; }

section.circle div.active:after { display: none; }
section.circle div.active:before { content: 'click image to close'; position: absolute; top: 60px; left: 18px; width: 50px; margin: 3px; 
	font-size: 8px; line-height: 10px; color: #fff; }
.bio-sub > article > p > span { margin-left: 4%; font-weight: bold; font-size: 19px; }
.bio-sub > article > a { font-weight: bold; color: #003A8D; }
.bio-sub > article > a:hover { color: #000; }

.time-top > .entry.circle > div > div, .time-bottom > .entry.circle > div > div { width: 60px; border-radius: 50%; right: -37px; }
.circle > div > div > img { position: relative; }

.time-top .entry > div > div { position: absolute;  width: 120px; height: 60px; right: -60px; top: -71px; padding: 5px; overflow: hidden; 
	background: #585858; border: solid 1px #222; border-radius: 8px; }
.time-bottom .entry > div > div { position: absolute;  width: 120px; height: 60px; right: -60px; bottom: -71px; padding: 5px; 
	background: #585858; border: solid 1px #222; border-radius: 8px; }

.time-top .entry:nth-child(1) { left: 0; }
.time-top .entry:nth-child(1) > div { height: 40px;  }
.time-top .entry:nth-child(2) { left: 220px; }
.time-top .entry:nth-child(2) > div { height: 30px;  }
.time-top .entry:nth-child(3) { left: 520px; }
.time-top .entry:nth-child(3) > div { height: 40px;  }
.time-top .entry:nth-child(4) { left: 780px; }
.time-top .entry:nth-child(4) > div { height: 35px;  }
.time-top .entry:nth-child(5) { left: 960px; }
.time-top .entry:nth-child(5) > div { height: 45px;  }
.time-top .entry:nth-child(6) { left: 1240px; }
.time-top .entry:nth-child(6) > div { height: 30px;  }
.time-top .entry:nth-child(7) { left: 1400px; }
.time-top .entry:nth-child(7) > div { height: 35px;  }
.time-top .entry:nth-child(8) { left: 1650px; }
.time-top .entry:nth-child(8) > div { height: 25px; }


.time-bottom .entry:nth-child(1) { left: 40px; }
.time-bottom .entry:nth-child(1) > div { height: 50px;  }
.time-bottom .entry:nth-child(2) { left: 290px; }
.time-bottom .entry:nth-child(2) > div { height: 20px; }
.time-bottom .entry:nth-child(3) { left: 550px; }
.time-bottom .entry:nth-child(3) > div { height: 50px;  }
.time-bottom .entry:nth-child(4) { left: 800px; }
.time-bottom .entry:nth-child(4) > div { height: 20px; }
.time-bottom .entry:nth-child(5) { left: 1080px; }
.time-bottom .entry:nth-child(5) > div { height: 50px;  }
.time-bottom .entry:nth-child(6) { left: 1300px; }
.time-bottom .entry:nth-child(6) > div { height: 40px; }
.time-bottom .entry:nth-child(7) { left: 1550px; }
.time-bottom .entry:nth-child(7) > div { height: 20px; }
.time-bottom .entry:nth-child(8) { left: 1725px; }
.time-bottom .entry:nth-child(8) > div { height: 40px; }



#inside-left .middle { border-bottom: solid 1px #666; overflow: hidden; }
#inside-left .middle div:nth-child(1) { float: left; padding: 25px 5%; max-width: 40%; }
#inside-left .middle div:nth-child(1) h2 { text-align: center; border-bottom: solid 1px #666; }
#inside-left .middle div:nth-child(1) li { float: left; clear: both; list-style: none; padding: 4px; border-bottom: solid 1px #666; }

#inside-left .middle div:nth-child(2) { float: right; width: 50%; padding-top: 9px;}
#inside-left .middle div:nth-child(2) img { display: block; max-width: 60%; margin: 40px auto; outline: solid 1px #666 }

#inside-left .middle div:nth-child(1) { float: left; padding: 25px 5%; max-width: 40%; }
#inside-left .middle div:nth-child(1) h2 { text-align: center; border-bottom: solid 1px #666; }
#inside-left .middle div:nth-child(1) li { float: left; clear: both; list-style: none; padding: 4px; border-bottom: solid 1px #666; }

#inside-left .middle div:nth-child(2) { float: right; width: 50%; padding-top: 45px; }
#inside-left .middle div:nth-child(2) img { display: block; max-width: 60%; margin: 40px auto; outline: solid 1px #666; }

#inside-left .middle table { float: left; width: 49%; margin: 30px 0 -2px 1%; color: #444; font-size: 14px; border: solid 2px #fff; }
#inside-left .middle table td { vertical-align: top; width: auto; text-align: center; border: solid 1px #333; }
#inside-left .middle table tr:nth-child(1) td:nth-child(1) { vertical-align: middle; text-align: center; color: #000; }
#inside-left .middle table tr:nth-child(1) td:nth-child(1) h1 { margin-top: -35%; color: #666; padding: 20px; }
#inside-left .middle table li { list-style: none; margin: 2px 0; }

#inside-left .middle table ul { padding: 20px; margin: 0; text-align: left; }
#inside-left .middle table h3 { font-size: 22px; display: inline; margin-right: 10px; color: #666; }
#inside-left .middle table td > ul > li:nth-child(1) { color: #000; font-size: 12px; }



#inside-left .bottom { padding: 12px 0; border-bottom: solid 1px #666; overflow: hidden; }
#inside-left .bottom div { display: inline-block; float: left; width: 50%; text-align: center; }
#inside-left .bottom a { color: #000; text-decoration: none; }
#inside-left .bottom a span { color: #666; }

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
#back { background: repeating-linear-gradient( 45deg, #666, #666 3px, transparent 2px, transparent 60px ); }

#back #outer { position: relative; background: #fff; max-width: 700px; margin: auto; overflow: hidden; }

#back #inner { overflow: hidden; border-right: solid 3px #666; border-left: solid 3px #666; position: relative; margin: -80px auto 0 auto;  }

#back #tilt:after { content: ""; float: left; margin-top: 25%; }

#back #tilt { position: relative; top: 10px; max-width: 700px; font-family: 'molengo', sans-serif; letter-spacing: 0.65px; border-bottom: solid 6px #666; padding-bottom: 20px; 
	background: #fff; z-index: 200;
	-webkit-transform: rotate(320deg); 
	-moz-transform: rotate(320deg); 
	-ms-transform: rotate(320deg); 
	-o-transform: rotate(320deg); 
	transform: rotate(330deg); 
	}


#back h1 { color: #666; }
#back h1:nth-of-type(1) { padding-left: 90px; }

#back a { position: relative; font-weight: bold; color: #666; text-decoration: none; border-bottom: solid 2px #666; top: -3px; }

#back #homesite { margin: 20px 0 10px 50px; }
#back #homesite > h2, li > h3 { display: inline; }
#back #homesite a { font-size: 22px; }

#back ul { padding-left: 0px; margin-left: 10px; }
#back li { list-style-type: none; margin-bottom: 5px; }
#back li:nth-child(1) { padding-left: 20px; }
#back li:nth-child(2) { padding-left: 10px; }

#back h1:nth-of-type(2) { display: inline; margin-left: -20px; }
#back #tilt p { display: inline; padding-left: 10px; font-weight: bold; }
#back #tilt p span { display: inline-block; white-space: nowrap; margin-right: 4px; padding: 2px 0}

#back #decoration { position: absolute; left: 140px; bottom: 10%; width: 70%; height: 25px; border: solid 2px #666;
    
	-webkit-transform: rotate(330deg); 
	-moz-transform: rotate(330deg); 
	-ms-transform: rotate(330deg); 
	-o-transform: rotate(330deg); 
	transform: rotate(330deg); 
	}

#back #triangle { position: relative; bottom: 1px; right: -204px; border-bottom: solid 4px #666; border-right: solid 4px #666; height: 85px; width:30%;

	-webkit-transform: rotate(30deg); 
	-moz-transform: rotate(30deg); 
	-ms-transform: rotate(30deg); 
	-o-transform: rotate(30deg); 
	transform: rotate(30deg); 
	overflow: hidden;
	}

#back #triangle > aside { position: relative; top: 38%; right: 4%; width: 150%; height: 100px; border-top: solid 4px #666;

	-webkit-transform: rotate(330deg); 
	-moz-transform: rotate(330deg); 
	-ms-transform: rotate(330deg); 
	-o-transform: rotate(330deg); 
	transform: rotate(330deg); 
	overflow: hidden;
	}

#back #triangle > aside > aside { position: absolute; right: 0; top: -50%; height: 150%; width: 49px; background: #666;

	-webkit-transform: rotate(30deg); 
	-moz-transform: rotate(30deg); 
	-ms-transform: rotate(30deg); 
	-o-transform: rotate(30deg); 
	transform: rotate(30deg); 
	}

#back #logo { position: absolute; padding: 50px; right: -30px; bottom: -40px; background: #fff; border-left: solid 4px #666; z-index: 100; }

#back #logo img { width: 100px; float: right; }

#back footer { margin: auto; background: #fff; padding: 20px 0; border-top: solid 4px #000; position: absolute; width: 100%; bottom: 0; }


footer { padding: 20px 0 35px 0; border-top: solid 2px #666; }
footer > div { float: right; width: 25%; text-align: center; }
footer > div:nth-child(1) { float: left; width: 50%; }
footer > div h2 { display: inline; position: relative; top: 2px; line-height: 0; color: #666; }
footer  a { color: #000; text-decoration: none; }
footer a.phone, footer a.phone span.gc-cs-link { color: #666; font-weight: bold; text-decoration: none; font-size: 20px; line-height: 0; }
footer  a  span { color: #666; }

@media only screen and (max-width: 1040px) {

	footer > div { float: left; width: initial; text-align: center; margin: 0 2%; }
	footer > div:nth-child(1) { width: initial; margin: 0 5%;  }

}
